@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html body {
  width: 100%;
  height: 100%;
  font-family: "Roboto Mono" !important;
  background: #0f0f0f !important;
  color: #fff !important;
}

html body .whitespace {
  width: 100%;
  height: 100px;
}

@media (max-width: 768px) {
  html body .whitespace {
    display: none;
  }
}

html body .line {
  width: 24em;
  top: 50%;
  margin: auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

html body .anim-typewriter {
  -webkit-animation: typewriter 4s steps(40) 1s 1 normal both, blinkTextCursor 500ms steps(40) infinite normal;
          animation: typewriter 4s steps(40) 1s 1 normal both, blinkTextCursor 500ms steps(40) infinite normal;
}

@-webkit-keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 18em;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 18em;
  }
}

@media (max-width: 768px) {
  @-webkit-keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 17em;
    }
  }
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 17em;
    }
  }
}

@-webkit-keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

html body header .wrapper nav {
  width: 100%;
  background: #0f0f0f;
  height: 80px;
  position: fixed;
  z-index: 1;
}

html body header .wrapper nav #brand {
  float: left;
  display: block;
  margin-left: 82px;
  line-height: 80px;
  font-weight: bold;
}

html body header .wrapper nav #brand a {
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-decoration: none;
}

html body header .wrapper nav #menu {
  float: left;
  right: 80px;
  position: fixed;
}

html body header .wrapper nav #menu li {
  padding-left: 40px;
  display: inline-block;
  cursor: pointer;
  font-weight: 300;
  line-height: 80px;
  position: relative;
  -webkit-transition: all 0.3ms ease-out;
  transition: all 0.3ms ease-out;
}

html body header .wrapper nav #menu li span {
  font-weight: 700;
}

html body header .wrapper nav #menu li a {
  color: #fff;
  text-decoration: none;
}

html body header .wrapper nav #toggle {
  position: absolute;
  right: 30px;
  top: 20px;
  font-weight: 300;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: pointer;
  float: right;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}

html body header .wrapper #resize {
  z-index: 1;
  top: 0px;
  position: fixed;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

html body header .wrapper #resize .close-btn {
  position: absolute;
  right: 16px;
  font-weight: 300;
  z-index: 2;
  cursor: pointer;
  top: -2px;
  line-height: 80px;
}

html body header .wrapper #resize #menu {
  height: 90px;
  position: absolute;
  left: 45%;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
  text-align: center;
  display: table-cell;
  vertical-align: center;
}

html body header .wrapper #resize #menu li {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 50px;
  min-height: 50px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

html body header .wrapper #resize #menu li:nth-child(1) {
  margin-top: 140px;
}

html body header .wrapper #resize #menu li a {
  color: #fff;
  text-decoration: none;
}

html body header .wrapper #resize.active {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  html body header .wrapper nav #brand {
    margin-left: 24px;
  }
  html body header .wrapper nav #toggle {
    visibility: visible;
    opacity: 1;
    margin-top: 6px;
    margin-right: 4px;
  }
  html body header .wrapper nav #menu {
    display: none;
  }
  html body header .wrapper nav #menu a {
    font-size: 20px;
    font-weight: 300;
  }
  html body header .wrapper #resize #menu a {
    font-size: 20px;
    font-weight: 300;
  }
  html body header .wrapper #resize #menu li span {
    font-weight: bolder;
  }
}

@media (min-width: 768px) {
  html body #resize {
    visibility: hidden !important;
  }
}

html body .hero {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .hero .header h1 {
  font-weight: lighter;
  text-align: center;
  letter-spacing: -2px;
  line-height: 58px;
}

@media (min-width: 768px) {
  html body .hero .header h1 {
    font-size: 38px;
  }
}

html body .scroll-down {
  position: absolute;
  left: 50%;
  bottom: 100px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 0;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: translate(-50%, 0) rotate(45deg);
          transform: translate(-50%, 0) rotate(45deg);
  -webkit-animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
          animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -20px) rotate(45deg);
            transform: translate(0, -20px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 20px) rotate(45deg);
            transform: translate(0, 20px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -20px) rotate(45deg);
            transform: translate(0, -20px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 20px) rotate(45deg);
            transform: translate(0, 20px) rotate(45deg);
    opacity: 0;
  }
}

html body .container-fluid h6 {
  text-align: center;
}

html body .container-fluid .vertical {
  margin-top: 40px;
  border-left: 1px solid #5c5c5c;
  height: 4071px;
  z-index: 1;
  opacity: 0.7;
  position: absolute;
  left: 50%;
}

html body .container-fluid .row {
  margin-top: 80px;
}

html body .container-fluid .row .project {
  height: 500px;
}

html body .container-fluid .row .project1 {
  background: url(../img/lannn1.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 750px;
}

html body .container-fluid .row .project1::after {
  content: "Mädchen.";
  font-family: "Roboto Mono";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 8%;
  left: -32%;
  right: 0;
  bottom: 0;
}

html body .container-fluid .row .project2 {
  background: url(../img/marrrrr111.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 700px;
}

html body .container-fluid .row .project2::after {
  content: "Rote Figur.";
  font-family: "Roboto Mono";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 80%;
  left: 102%;
  right: 0;
  bottom: 0;
}

html body .container-fluid .row .project3 {
  background: url(../img/inii1.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 700px;
}

html body .container-fluid .row .project3::after {
  content: "Glanzseite.";
  font-family: "Roboto Mono";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 80%;
  left: -59%;
  right: 0;
  bottom: 0;
}

html body .container-fluid .row .project4 {
  background: url(../img/nann.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 900px;
}

html body .container-fluid .row .project4::after {
  content: "Brasilianerin.";
  font-family: "Roboto Mono";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 10%;
  left: 105%;
  right: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  html body .container-fluid .vertical {
    display: none;
  }
  html body .container-fluid .row .project {
    width: 90% !important;
    margin: 14px auto;
    height: 500px;
  }
  html body .container-fluid .row .project1::after {
    display: none;
  }
  html body .container-fluid .row .project2::after {
    display: none;
  }
  html body .container-fluid .row .project3::after {
    display: none;
  }
  html body .container-fluid .row .project4::after {
    display: none;
  }
}

html body footer .footer .container .collab {
  text-align: right;
}

html body footer .footer .container .collab .row .col-lg-12 p {
  font-weight: lighter !important;
  margin-bottom: 20px;
}

html body footer .footer .container .hr {
  background: rgba(255, 255, 255, 0.2);
  height: 1px;
}

html body footer .footer .container .info .row #personal p {
  color: grey;
  font-weight: lighter;
}

html body footer .footer .container .info .row #personal h4 {
  font-size: 18px;
  font-weight: lighter;
}

html body footer .footer .container .info .row #media {
  text-align: right;
}

html body footer .footer .container .info .row #media p {
  color: grey;
}

html body footer .footer .container .info .row #media ul {
  list-style: none;
}

html body footer .footer .container .info .row #media ul li {
  display: inline-block;
}

html body footer .footer .container .info .row #media ul li a {
  font-weight: lighter;
  color: #fff;
  font-size: 18px;
  padding-left: 20px;
  text-decoration: none;
}

html body footer .footer .container .info .row #media ul #fb::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: -20px;
  background: #3b5998;
}

html body footer .footer .container .info .row #media ul #ig::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: -20px;
  margin-left: 6px;
  background: #fcaf45;
}

html body footer .footer .container .info .row #address {
  text-align: right;
}

html body footer .footer .container .info .row #address p {
  color: grey;
  font-weight: lighter;
}

html body footer .footer .container .info .row #address h4 {
  font-size: 18px;
  font-weight: lighter;
}

@media (max-width: 768px) {
  html body footer .footer .container .collab {
    text-align: center;
  }
  html body footer .footer .container .info .row #personal {
    text-align: center;
  }
  html body footer .footer .container .info .row #media {
    text-align: center;
  }
  html body footer .footer .container .info .row #media ul {
    margin: 0 0 0 -22px;
    padding: 0;
  }
  html body footer .footer .container .info .row #address {
    text-align: center;
  }
}
/*# sourceMappingURL=global.css.map */